
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap')

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
   
    margin:0;
    padding :0 ;
    box-sizing:border-box; 
}


@layer components {
  .borderTailwindcss {
    @apply border-[5px] border-[red]
  }
   .custom-class-table-td-post {
    @apply border flex items-center 2xl:pl-[12px]  md:pl-[5px] text-[#393939] font-fontFamily text-[16px] font-[400] leading-[25px] py-[12px]
    
  }
  .custom-class-table-th-post{
    @apply flex border  items-center justify-center text-[#fff] font-fontFamily text-[16px] font-[700] leading-[20px]
  }
  .custom-class-option{
    @apply text-[#000] 2xl:font-fontFamily 2xl:text-[16px] 2xl:font-[500] 2xl:leading-[35px] 
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 11px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.placeholder-textarea::placeholder {
  font-size: 25px;
}
.auto-resizable-textarea {
  resize: none; /* Ngăn chặn việc thay đổi kích thước bằng chuột */
  overflow-y: hidden; /* Ẩn thanh cuộn theo chiều dọc nếu cần */
  min-height: 2.4em; /* Chiều cao tối thiểu */
  padding: 10px; /* Phần đệm */
  font-size: 16px; /* Cỡ chữ */
  line-height: 1.4; /* Độ cao dòng */
  border: 1px solid #ccc; /* Viền */
  border-radius: 4px; /* Bo góc */
}
